:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.9);
  background-color: #1d2d44;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.result-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#output {
  display: flex;
}
#header {
  max-width: 500px;
}
.keycap {
  padding: 0.3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  box-shadow: 2px 2px black;
  font-weight: 600;
  white-space: nowrap;
  background: #fbfbfb;
  color: #1b1f27;
}

.keycap h2 {
  margin: 0;
}

.duration {
  font-weight: 600;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row h3,
h2 {
  margin: 0;
}
.flex-col h3,
h2 {
  margin: 0;
}

#app {
  max-height: 100vh;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
